@import "./variables";

body {
  margin: 0;
}

*, 
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $text;
}

.container {
  width: 80%;
  max-width: 1300px;
  margin: 0 auto;
}